<html>
    <head>
        <title>boot strap icons</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    </head>
    <body>
        <textarea class="textarea" placeholder="Write your blog."></textarea>
<br />
<div class="buttons">
         <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light"><i class="bi bi-image"></i></button>
              </div>
            <div class="control">
                <button class="button is-link is-light"><i class="bi bi-film"></i></button>
              </div>
              <div class="control">
                <button class="button is-link is-light"><i class="bi bi-music-note"></i></button>
              </div>
            <div class="control">
                <button class="button is-link is-light"><i class="bi bi-mic-fill"></i></button>
            </div>
            <div class="control">
                <button class="button is-link is-light"><i class="bi bi-camera"></i></button>
            </div>
            <div class="control">
                <button class="button is-link is-light"><i class="bi bi-camera-video-fill"></i></button>
            </div>
            <div class="control">
                <button class="button is-link is-light"><i class="bi bi-calendar4-week"></i></button>
            </div>
          </div>
</div>
</body>
</html>
<br />
{%include_relative _text.html %}
<hr />
<br />
{% include_relative _text.html %}
<hr />
<br />
{% include_relative _text.html %}
<hr />