<div class="columns">
    <div class="column">
        <figure class="image is-64x64">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
    </div>

    <div class="column is-10">
        <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    </div>
</div>